{% extends 'clicker/base.html' %}

{% block title%}
Главная страница
{% endblock %}

{% block content %}
<div class="welcome-container">
    <div class="welcome">
        <p class="hello">
            Привет! Этот сайт - игра-кликер.
        </p>
        <p class="rules">
          Суть и правила игры: игрок - вамприр.
          На странице игры, вокруг главной кнопки, раз в 2 секудны будут появлятся небольшие кружки.
          Собрав их всех, вы заработает бонус, равный сумме цифр на этих куржка.
          Тот кто выпил больше всего крови - победил.
        </p>
    </div>
</div>
{% endblock %}