{% extends 'clicker/base.html' %}

{% block title%}
Главная страница
{% endblock %}

{% block content %}
    <form class="login-form" action="#" method="post">
        <span class="local-title"> Зарегистрируйтесь </span>
        <input class="inp" type="text" placeholder="логин" name="login"/>
        <input class="inp" type="text" placeholder="email" name="email"/>
        <input class="inp" type="password" placeholder="пароль" name="password"/>
        <button class="log" type="submit">Зарегистрироваться</button>
    </form>
{% endblock %}